[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
	branch = master

[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
	branch = master

[submodule "calendar"]
	path = plugins/calendar
	url = https://github.com/deficient/calendar.git
	branch = master

[submodule "memory-notifier"]
	path = plugins/memory
	url = https://github.com/macunha1/awesomewm-memory-notifier
	branch = master

[submodule "weatherdesk"]
	path = plugins/weatherdesk
	url = https://gitlab.com/bharadwaj-raju/WeatherDesk
	; commit = 7aab3f4cb17ce678966d7e75e1629766957e3b6f
[submodule "media-player-widget"]
	path = plugins/media-player
	url = https://github.com/macunha1/awesomewm-media-player-widget
	branch = master
